{% extends 'todoapp/base.html' %}

{% block content %}
  {% if error %}
    <div class="alert alert-warning">
      <strong>Error!</strong> {{error}}
    </div>
  {% endif %}
<h1>Login</h1>
<form action="/login" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label> Username: </label>
      <input type="text" name="username"  class="form-control" placeholder="Dispaly Name">
    </div>
    <div class="form-group">
      <label> Password: </label>
      <input type="password" name="password"  class="form-control" placeholder="Super secret password">
    </div>
    <input type="submit" value="Login" class="btn btn-primary">
{% endblock %}
